@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1{
    @apply text-[38px] md:text-[60px] leading-[1.1] font-semibold
  }
  .h2{
    @apply text-[36px] md:text-[48px] leading-[1.1] font-semibold
  }
  .h3{
    @apply text-[20px] md:text-[24px] leading-[1.1] font-semibold
  }
  .button{
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-full font-semibold text-base text-black ring-offset-black transition-colors bg-accent hover:bg-accent-hover py-[8px] px-[15px]
  }
  
  /* .ant-select-selection-placeholder {
    @apply text-white/60 bg-primary 
    
    
  } */
  .text-outline{
    -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover{
    -webkit-text-stroke: 1px #00ff99;
  }
}




 /* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  font-family: 'JetBrains Mono', monospace;
}

.custom-select .ant-select-selector:focus {
  border: 2px solid #00ff99; /* Replace with your desired border color */
}


